* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-top-15 {
    margin-top: 15px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-45 {
    margin-top: 45px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-75 {
    margin-top: 75px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-45 {
    margin-bottom: 45px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-75 {
    margin-bottom: 75px;
}

/* ESERCIZI */

.ex-1-square:hover{
    background-color: red;
    transition: 2s;
}
.ex-2-square:active{
    width: 1100px;
    transition: 2s;
}
.ex-3-square:hover{
    border-radius: 50px;
    transition: 2s;
}

.ex-4-square:hover{
   background-color: transparent;
   transition: 2s;
}

.ex-5-square:hover{
    height: 125px;
    width: 125px;
    transition: 2s;
}

.ex-5-square:active{
    height: 75px;
    width: 75px;
    transition: 2s;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img:hover{
    filter: grayscale(.5) saturate(.5);
    transition: 2s;        
}

.ex-8-img:hover{
    filter: grayscale(.5) saturate(.5);
    border-radius: 25px;
    transition: 2s;        
}

.ex-9-img:hover{
    filter: grayscale(.5) saturate(.5);
    border-radius: 25px;
    transition: 2s;   
    transform: scale(1.2);     
}

/* ESERCIZIO 10 */


.ex-10-icon{
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}    

/* ESERCIZIO 11 */


.ex-11-icon:hover{
    animation: spin2 2s linear infinite; 
}

@keyframes spin2 {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(270deg); }
    100% { transform: rotate(0deg); }
  }

/* ESERCIZIO 12 */
  
.ex-12-button:hover .ex-12-top-white{
    animation: animtop 2s linear;
}

@keyframes animtop {
    0% {
        left: 10%;
    }
    50% {
        left: 25%;
    }
    100% {
        left: 50%;
    }    
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: animbottom 2s linear;
}

@keyframes animbottom {
    0% {
        right: 10%;
    }
    50% {
        right: 25%;
    }
    100% {
        right: 50%;
    }
}

/* ESERCIZIO 13 */

.ex-13-button:hover .ex-13-top-white{
    animation: topanim 2s linear;
}

@keyframes topanim {
    0% {
        left: 10%;
        top: -10px;
    }
    25% {
        left: calc(100% - 30px);
        top: -10px;
    }
    50% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    100% {
        left: 10%;
        top: -10px;
    }
    
}   

.ex-13-button:hover .ex-13-bottom-white{
    animation: bottomanim 2s linear;
}

@keyframes bottomanim {
    0% {
        bottom: -10px;
        right: 20%;
    }
    25% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    50% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
    
}